# Data files
*.csv
*.zip
*.parquet
data/

# Spark
logs/
*.log
spark-warehouse/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Mac
.DS_Store

# VS Code
.vscode/

# Output
output/
